# Gradle
**/.gradle/

# Build
/*/bin/
/*/build/
/build/

# Intelij
**/.idea/

# VSCode
**/.vscode/

# Eclipse
**/.settings/
**/.classpath
**/.project

# Mac
**/.DS_Store

# Misc
/test/
/all/server_logs.log

#FeatJar VSCode Extension
featjar-feature-model-tools/node_modules/**
featjar-feature-model-tools/out/** 
featjar-feature-model-tools/package-lock.json 

#uvl files in resources for tests
featjar-feature-model-tools/resources/*.uvl