[submodule "util"]
	path = util
	url = git@github.com:skrieter/util.git
[submodule "evaluation"]
	path = evaluation
	url = git@github.com:skrieter/evaluation.git
[submodule "evaluation-mig"]
	path = evaluation-mig
	url = git@github.com:skrieter/evaluation-mig.git
[submodule "evaluation-pc-sampling"]
	path = evaluation-pc-sampling
	url = git@github.com:skrieter/evaluation-pc-sampling.git
[submodule "evaluation-tseytin"]
	path = evaluation-tseytin
	url = git@github.com:skrieter/evaluation-tseytin.git
[submodule "FeatureCoPP"]
	path = FeatureCoPP
	url = git@github.com:skrieter/FeatureCoPP.git
[submodule "formula"]
	path = formula
	url = git@github.com:skrieter/formula.git
[submodule "formula-analysis"]
	path = formula-analysis
	url = git@github.com:skrieter/formula-analysis.git
[submodule "formula-analysis-javasmt"]
	path = formula-analysis-javasmt
	url = git@github.com:skrieter/formula-analysis-javasmt.git
[submodule "pc-extraction"]
	path = pc-extraction
	url = git@github.com:skrieter/pc-extraction.git
[submodule "formula-analysis-sharpsat"]
	path = formula-analysis-sharpsat
	url = git@github.com:skrieter/formula-analysis-sharpsat.git
[submodule "sharpsat-native"]
	path = sharpsat-native
	url = ./sharpsat-native
